<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/owner" matTooltip="Owner">
    <mat-icon>business</mat-icon>
  </button>
  <button mat-icon-button routerLink="/admin" matTooltip="Administrator">
    <mat-icon>supervisor_account</mat-icon>
  </button>
  <button mat-icon-button routerLink="/mod" matTooltip="Moderator">
    <mat-icon>poll</mat-icon>
  </button>
  <button mat-icon-button routerLink="/sub" matTooltip="Subscriber">
    <mat-icon>monetization_on</mat-icon>
  </button>
  <!-- <mat-toolbar-row>
    <span>Bar 2</span>
  </mat-toolbar-row> -->
</mat-toolbar>
