<mat-toolbar class="mat-elevation-z6" color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Lotus</span>
  <span class="spacer"></span>
  <div *ngIf="(authService.authState | async); else guest">
    <button mat-button [matMenuTriggerFor]="appMenu">
      <span>{{ (authService.user.data | async)?.displayName }} <i class="fa fa-caret-down"></i></span>
    </button>
  </div>
  <ng-template #guest>
    <button mat-icon-button routerLink="/login" matTooltip="Login">
      <mat-icon>lock</mat-icon>
    </button>
    <button mat-icon-button routerLink="/register" matTooltip="Register">
      <mat-icon>person</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
<mat-menu #appMenu>
  <button mat-menu-item>
    <span>Profile</span>
  </button>
  <button mat-menu-item>
    <span>Settings</span>
  </button>
  <button mat-menu-item (click)="authService.logout()">
    <span>Logout</span>
  </button>
</mat-menu>
