<app-page title="Register">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <p>
      <mat-form-field class="full-width">
        <input matInput formControlName="email" type="email" placeholder="Email" autofocus>
        <mat-error *ngIf="email.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="!email.errors?.required && email.errors?.email">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <input matInput formControlName="password" type="password" placeholder="Password">
        <mat-error *ngIf="password.errors?.required">
          Password is required
        </mat-error>
        <mat-error *ngIf="!password.errors?.required && password.errors?.minlength">
          Your password must contain a minimum of {{ password.errors?.minlength?.requiredLength }} characters
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password">
        <mat-error *ngIf="confirmPassword.errors?.required">
          Confirm Password is required
        </mat-error>
        <mat-error *ngIf="!confirmPassword.errors?.required && confirmPassword.errors?.equalTo">
          Passwords don't match
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <input matInput formControlName="displayName" type="text" placeholder="Display Name">
        <mat-error *ngIf="displayName.errors?.required">
          Display Name is required
        </mat-error>
        <mat-error *ngIf="!displayName.errors?.required && displayName.errors?.minlength">
          Your display name must contain a minimum of {{ displayName.errors?.minlength?.requiredLength }} characters
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <button mat-raised-button color="primary" [disabled]="registerForm.invalid">REGISTER</button>
    </p>
  </form>
</app-page>
