<app-page title="Login">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <p>
      <mat-form-field class="app-full-width">
        <input matInput formControlName="email" type="email" placeholder="Email" autofocus>
        <mat-error *ngIf="email.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="!email.errors?.required && email.errors?.email">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="app-full-width">
        <input matInput formControlName="password" type="password" placeholder="Password">
        <mat-error *ngIf="password.errors?.required">
          Password is required
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <button mat-raised-button color="primary" [disabled]="loginForm.invalid">LOGIN</button>
    </p>
  </form>
</app-page>
